.mobil{
  width:100%;
  background-color: #1d1e22 ;
  padding:20px 15px 10px 35px;
  margin:0px;
}
.rectangle-back{
width:100vh;
  background-color:#1d1e22 ;
  height: 100%;
  padding-left: 78px;   
}
.goran-back{
  width:100%;
  height: 100%;
  background-color: #f18d03;
  background-image: url(./Assets/goran-ivos.png);
}
.Lorem-ipsum{
  width: 603px;
  height: 329px;
  font-family: Roboto;
  font-size: 90px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
  margin-top: 150px;
}
.Lorem-Ipsum-is-simply-dummy-text-of-the-printing-industry {
  width: 425px;

  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
}
.Lorem-Ipsum-is-simply-dummy-text-of-the-printing-industry-mobil {
  width: 295px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
}
.Lorem-Ipsum-has-been{
  width: 425px;
  height: 86px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
}
.Lorem-Ipsum-has-been-mobil{
  width: 295px;
  height: 86px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
}
.Ya-da-sosyal-medya-araclyla-ile{
  width: 214px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color:#fdfef9;
  margin-left:120px;
}
.Ya-da-sosyal-medya-araclyla-ile-mobil{
  width:200px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color:#fdfef9;
  margin-left:30px;
}


.Aramza-katlmak-ister-misin-Kayt-Ol {
  height:90px;
  width: 271px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
   margin-left:120px;
}
.Aramza-katlmak-ister-misin-Kayt-Ol-mobil {
  height:40px;
  width: 271px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
   margin-left:30px;
}

.Kayt-Ol {
  color: #f18d03;
}
