body {
  margin: 0;
  padding: 0;
}

.mobil {
  background-color: #1d1e22;
  width: 100%;
  height: 100% !important;
  position: absolute;
  top: 0px;
  margin: 0px;
  padding: 0;
  z-index: 0;
}
.mobilbox {
  background-color: #1d1e22;
  width: 70% !important;
  margin: 25px auto auto auto;
}
.rectangle {
  position: absolute;
  width: 43%;
  background-color: #1d1e22;
  height: 100% !important;
  top: 0;
  margin: 0;
  float: right;
  z-index: 0;
  left: 57%;
}
.rectanglebox {
  width: 70% !important;
  padding-top: 25px;
}
.goran-back {
  width: 57%;
  height: 100% !important;
  background-color: #f18d03;
  background-image: url(./Assets/goran-ivos.png);
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 22;
  flex-direction: column;
}
.goranbox {
  width: 70%;
  margin: 20% auto auto auto;
}
.Lorem-ipsum {
  width: 553px;
  height: 329px;
  font-family: Roboto;
  font-size: 90px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
}
@media screen and (max-width: 1024px){
  .goran-back {
  width: 57%!important;
}
.goranbox {
  width: 70%;
  margin: 20% auto auto auto;
}
  .Lorem-ipsum {
    width:100%;
  color: #fdfef9;
  height: 329px;
  font-family: Roboto;
  font-size: 65px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  text-align: left;
}
.mainEllips1 {
  margin-left: 128.5px;
  margin-top: 388px;
}
.mainEllips2 {
  margin-left: 387.7px;
  margin-top: 70px;
}
.mainEllips3 {
  margin-left: 125.7px;
  margin-top: 156px;
}
.mainEllips4 {
  margin-left: 350px;
  margin-top: 587px;
}
.mainEllips5 {
  margin-left: 300px;
  margin-top: 570px;
}
.mainEllips6 {
  margin-top: 590px;
  margin-left: 0;
}
.mainEllips7 {
  margin-top: -110px;
  margin-left: 0;
}
}

@media screen and (max-width: 820px){
  .goranbox {
  width: 70%;
  margin: 15% auto auto auto;
}
.Lorem-ipsum {
    width:100%;
  color: #fdfef9;
  height: 315px;
  font-family: Roboto;
  font-size: 61px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: normal;
  text-align: left;
}

}
.Lorem-Ipsum-is-simply-dummy-text-of-the-printing-industry {
  margin-top: 38px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
}
.Lorem-Ipsum-is-simply-dummy-text-of-the-printing-industry-mobil {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.Lorem-Ipsum-has-been {
  opacity: 0.5;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
}
.Lorem-Ipsum-has-been-mobil {
  margin-top: 10px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #fdfef9;
}
.Ya-da-sosyal-medya-araclyla-ile {
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fdfef9;
  margin-top: 10%;
}
.Ya-da-sosyal-medya-araclyla-ile-mobil {
  margin-top: %10;
  margin-bottom: %5;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fdfef9;
}

.Aramza-katlmak-ister-misin-Kayt-Ol {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #fdfef9;
  margin-top: 1%;
}
.Aramza-katlmak-ister-misin-Kayt-Ol-mobil {
  margin-top: 0.5%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #fdfef9;
}

.Kayt-Ol {
  color: #f18d03;
}
a {
  color: #fdfef9;
}
a:hover {
  color: #fdfef9;
}
.Ellipsebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Ellipse {
  width: 45.7px;
  height: 45.7px;
  border: solid 2px rgba(112, 112, 112, 0.5);
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}
input {
  background-color: #1d1e22 !important;
  color: white !important;
  font-size: 14px;
}
.mainEllips {
  border-radius: 50%;
  width: 179px;
  height: 179px;
  opacity: 0.71;
  background-color: #f89f23;
  margin-top: 301px;
  margin-left: 38.5px;
  z-index: -5;
  position: absolute;
}
.mainEllips1 {
  margin-left: 128.5px;
  margin-top: 388px;
}
.mainEllips2 {
  margin-left: 587.7px;
  margin-top: 70px;
}
.mainEllips3 {
  margin-left: 671.7px;
  margin-top: 156px;
}
.mainEllips4 {
  margin-left: 599.7px;
  margin-top: 587px;
}
.mainEllips5 {
  margin-left: 689.7px;
  margin-top: 570px;
}
.mainEllips6 {
  margin-top: 590px;
  margin-left: 0;
}
.mainEllips7 {
  margin-top: -110px;
  margin-left: 0;
}
@media screen and (max-height:760px) {
  .rectangle , .goran-back{
    height: unset!important;
  }
  .goranbox {
    margin: 20% auto 5% auto;
}
.rectanglebox {
    width: 70% !important;
    padding-top: 41px;
}
}

